/**
 * General styles
 */

body {
  background: #fafafa;
}

/**
 * Editor
 */

#editor {
    margin: 50px auto;
    max-width: 600px;
    background: #fff;
    border-top: 5px solid #1FBB94;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 0 0 0.75pt rgba(209,209,209,.3),0 0 3pt 0.75pt rgba(204,204,204,.3);
}

#controls {
    list-style-type: none;
    user-select: none;
    background: linear-gradient(to bottom, rgba(49,49,47,0.99), #262625) repeat-x;
    padding: 8px 10px;
    margin: 0;
}

#controls li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#controls button {
    font-family: Times, serif;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: 3px;
    padding: 6px 12px;
}

#controls button:hover {
    background: rgba(255,255,255,.1);
}

#controls button:focus {
    outline: none;
}

#controls [data-tag="em"] {
    font-style: italic;
}

/**
 * Editable area
 */

#document {
    padding: 30px;
    font: 15px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4b4b4b;

    border: 1px solid #ddd;
    border-top: none;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius:  0 0 4px 4px;
    border-radius:  0 0 4px 4px;

}

#document:focus {
    outline: none;
}